{% extends "escuela/layout.html" %}

{% block body %}

<h1>Ingrese fecha para buscar asistencias</h1>
<form action="{% url 'asistencia' %}" method="post">
    {% csrf_token %}
    <input type="date" name="date" required>
    <select name="curso">
        {% for curso in cursos %}
            <option>{{curso.nombre_curso}}</option>
        {% endfor %}
    </select>
    <button>Buscar</button>
</form>

{% if method == "post" %}
    <ul>
    {% for asistencia in asistencias %}
        <form action="{% url 'asistencia_reporte_excepcion' %}" method="post">
            {% csrf_token %}
        
            <li>{{asistencia}}</li>
                <input type="text" name="curso_asistencia" value="{{asistencia.id_curso.nombre_curso}}" hidden>
                <input name="fecha", value="{{asistencia.fecha| date:'Y-m-d'}}" hidden>
                <input type="text" name = "nombre" value = "{{asistencia.id_alumno}}" hidden>
                <input type="text" name="excusa">
                <button>Actualizar</button>
        </form>
    {%endfor%}
    </ul>
{% endif%}

{% endblock %}