{% extends "escuela/layout.html"%}


{% block body %}

{% for link in links %}
    <a href="{% url 'maestro_asistencia' link.nombre_curso %}">{{link.nombre_curso}}</a>

{% endfor %}



<h1>Docente: {{Curso.id_maestro}}  </h1>
<h1>Curso: {{Curso.nombre_curso}}</h1>
<h1>Grado: {{Curso.curso_grado}}</h1>

<h2>Asistencia:</h2>

<div class="container" style="border: 2px solid black; margin: 5px; ">
    {% for alumno in alumnos %}
        <div style="border: 2px solid black; margin: 10px;">
            <form action = "{% url 'maestro_asistencia' Curso.nombre_curso %}" method="post">
                {% csrf_token %}
                <input hidden name= "q" value="{{alumno.id_alumno.id_usuario}}">  
                <button>{{alumno.id_alumno.id_usuario}}</button>
                    
            </form>
        </div>
    {% endfor %}
</div>

<h2>Añadir tareas</h2>
<div>
    <form action="{% url 'maestro_tarea' %}" method="post">
        {% csrf_token %}
        <input type="text" value= "{{Curso.nombre_curso}}" name="nombre_curso" hidden> 
        <input type="text" value= "{{Curso.curso_grado}}" name="nombre_grado" hidden>

        <div>
            Titulo:
            <input type="text" name = "titulo" autocomplete="off">
        </div>
        
        <div>
            Descripcion:
            <input type="text" name = "descripcion" autocomplete="off">
        </div>

        <div>
            Fecha limite:
            <input type="date" name = "fecha_limite" required>
        </div>

        <div>
            Valor de la actividad:
            <input type="number" name = "valor" inputmode="decimal" step="any" inputmode="decimal" step="any">
        </div>
        <button>Subir tarea</button>

        <h1>Promedio del curso: {{Curso.nombre_curso}} y grado: {{Curso.curso_grado}}</h1>
        <h2> {{promedio}}</h2>

    </form>
</div>


{% endblock %}